# Configuration file

##########################################################################################################
# adding
#--------------------------------------------------------------------------------------------------------#
# Add items to the ore dictionary in the following format:
# 
#       <Ore Dictionary entry name>_____<Item name>_____<Item metadata (-1 for any)>
# 
# For instance, to add the default records to the 'record' category, you could write
# something like:
# 
#       record_____lootplusplus:creative1_____-1
# 
# for each record.
##########################################################################################################

adding {
}


additions {
    S:additions <
     >
}


##########################################################################################################
# default
#--------------------------------------------------------------------------------------------------------#
# Set these to false to disable them.
##########################################################################################################

default {
    B:"blockCoal_____minecraft:coal_block_____0"=true
    B:"blockDiamond_____minecraft:diamond_block_____0"=true
    B:"blockEmerald_____minecraft:emerald_block_____0"=true
    B:"blockGlassBlack_____minecraft:stained_glass_____15"=true
    B:"blockGlassBlue_____minecraft:stained_glass_____11"=true
    B:"blockGlassBrown_____minecraft:stained_glass_____12"=true
    B:"blockGlassColorless_____minecraft:glass_____0"=true
    B:"blockGlassCyan_____minecraft:stained_glass_____9"=true
    B:"blockGlassGray_____minecraft:stained_glass_____7"=true
    B:"blockGlassGreen_____minecraft:stained_glass_____13"=true
    B:"blockGlassLightBlue_____minecraft:stained_glass_____3"=true
    B:"blockGlassLightGray_____minecraft:stained_glass_____8"=true
    B:"blockGlassLime_____minecraft:stained_glass_____5"=true
    B:"blockGlassMagenta_____minecraft:stained_glass_____2"=true
    B:"blockGlassOrange_____minecraft:stained_glass_____1"=true
    B:"blockGlassPink_____minecraft:stained_glass_____6"=true
    B:"blockGlassPurple_____minecraft:stained_glass_____10"=true
    B:"blockGlassRed_____minecraft:stained_glass_____14"=true
    B:"blockGlassWhite_____minecraft:stained_glass_____0"=true
    B:"blockGlassYellow_____minecraft:stained_glass_____4"=true
    B:"blockGlass_____minecraft:glass_____0"=true
    B:"blockGlass_____minecraft:stained_glass_____any"=true
    B:"blockGold_____minecraft:gold_block_____0"=true
    B:"blockIron_____minecraft:iron_block_____0"=true
    B:"blockLapis_____minecraft:lapis_block_____0"=true
    B:"blockQuartz_____minecraft:quartz_block_____0"=true
    B:"blockRedstone_____minecraft:redstone_block_____0"=true
    B:"cobblestone_____minecraft:cobblestone_____0"=true
    B:"cropCarrot_____minecraft:carrot_____0"=true
    B:"cropPotato_____minecraft:potato_____0"=true
    B:"cropWheat_____minecraft:wheat_____0"=true
    B:"dustGlowstone_____minecraft:glowstone_dust_____0"=true
    B:"dustRedstone_____minecraft:redstone_____0"=true
    B:"dyeBlack_____minecraft:dye_____0"=true
    B:"dyeBlue_____minecraft:dye_____4"=true
    B:"dyeBrown_____minecraft:dye_____3"=true
    B:"dyeCyan_____minecraft:dye_____6"=true
    B:"dyeGray_____minecraft:dye_____8"=true
    B:"dyeGreen_____minecraft:dye_____2"=true
    B:"dyeLightBlue_____minecraft:dye_____12"=true
    B:"dyeLightGray_____minecraft:dye_____7"=true
    B:"dyeLime_____minecraft:dye_____10"=true
    B:"dyeMagenta_____minecraft:dye_____13"=true
    B:"dyeOrange_____minecraft:dye_____14"=true
    B:"dyePink_____minecraft:dye_____9"=true
    B:"dyePurple_____minecraft:dye_____5"=true
    B:"dyeRed_____minecraft:dye_____1"=true
    B:"dyeWhite_____minecraft:dye_____15"=true
    B:"dyeYellow_____minecraft:dye_____11"=true
    B:"dye_____minecraft:dye_____any"=true
    B:"gemDiamond_____minecraft:diamond_____0"=true
    B:"gemEmerald_____minecraft:emerald_____0"=true
    B:"gemLapis_____minecraft:dye_____4"=true
    B:"gemQuartz_____minecraft:quartz_____0"=true
    B:"glowstone_____minecraft:glowstone_____0"=true
    B:"ingotBrickNether_____minecraft:netherbrick_____0"=true
    B:"ingotBrick_____minecraft:brick_____0"=true
    B:"ingotGold_____minecraft:gold_ingot_____0"=true
    B:"ingotIron_____minecraft:iron_ingot_____0"=true
    B:"logWood_____minecraft:log2_____any"=true
    B:"logWood_____minecraft:log_____any"=true
    B:"nuggetGold_____minecraft:gold_nugget_____0"=true
    B:"oreCoal_____minecraft:coal_ore_____0"=true
    B:"oreDiamond_____minecraft:diamond_ore_____0"=true
    B:"oreEmerald_____minecraft:emerald_ore_____0"=true
    B:"oreGold_____minecraft:gold_ore_____0"=true
    B:"oreIron_____minecraft:iron_ore_____0"=true
    B:"oreLapis_____minecraft:lapis_ore_____0"=true
    B:"oreQuartz_____minecraft:quartz_ore_____0"=true
    B:"oreRedstone_____minecraft:redstone_ore_____0"=true
    B:"paneGlassBlack_____minecraft:stained_glass_pane_____15"=true
    B:"paneGlassBlue_____minecraft:stained_glass_pane_____11"=true
    B:"paneGlassBrown_____minecraft:stained_glass_pane_____12"=true
    B:"paneGlassColorless_____minecraft:glass_pane_____0"=true
    B:"paneGlassCyan_____minecraft:stained_glass_pane_____9"=true
    B:"paneGlassGray_____minecraft:stained_glass_pane_____7"=true
    B:"paneGlassGreen_____minecraft:stained_glass_pane_____13"=true
    B:"paneGlassLightBlue_____minecraft:stained_glass_pane_____3"=true
    B:"paneGlassLightGray_____minecraft:stained_glass_pane_____8"=true
    B:"paneGlassLime_____minecraft:stained_glass_pane_____5"=true
    B:"paneGlassMagenta_____minecraft:stained_glass_pane_____2"=true
    B:"paneGlassOrange_____minecraft:stained_glass_pane_____1"=true
    B:"paneGlassPink_____minecraft:stained_glass_pane_____6"=true
    B:"paneGlassPurple_____minecraft:stained_glass_pane_____10"=true
    B:"paneGlassRed_____minecraft:stained_glass_pane_____14"=true
    B:"paneGlassWhite_____minecraft:stained_glass_pane_____0"=true
    B:"paneGlassYellow_____minecraft:stained_glass_pane_____4"=true
    B:"paneGlass_____minecraft:glass_pane_____0"=true
    B:"paneGlass_____minecraft:stained_glass_pane_____any"=true
    B:"plankWood_____minecraft:planks_____any"=true
    B:"record_____minecraft:record_11_____0"=true
    B:"record_____minecraft:record_13_____0"=true
    B:"record_____minecraft:record_blocks_____0"=true
    B:"record_____minecraft:record_cat_____0"=true
    B:"record_____minecraft:record_chirp_____0"=true
    B:"record_____minecraft:record_far_____0"=true
    B:"record_____minecraft:record_mall_____0"=true
    B:"record_____minecraft:record_mellohi_____0"=true
    B:"record_____minecraft:record_stal_____0"=true
    B:"record_____minecraft:record_strad_____0"=true
    B:"record_____minecraft:record_wait_____0"=true
    B:"record_____minecraft:record_ward_____0"=true
    B:"sand_____minecraft:sand_____any"=true
    B:"sandstone_____minecraft:sandstone_____any"=true
    B:"slabWood_____minecraft:wooden_slab_____any"=true
    B:"slimeball_____minecraft:slime_ball_____0"=true
    B:"stairWood_____minecraft:acacia_stairs_____0"=true
    B:"stairWood_____minecraft:birch_stairs_____0"=true
    B:"stairWood_____minecraft:dark_oak_stairs_____0"=true
    B:"stairWood_____minecraft:jungle_stairs_____0"=true
    B:"stairWood_____minecraft:oak_stairs_____0"=true
    B:"stairWood_____minecraft:spruce_stairs_____0"=true
    B:"stickWood_____minecraft:stick_____0"=true
    B:"stone_____minecraft:stone_____0"=true
    B:"treeLeaves_____minecraft:leaves2_____any"=true
    B:"treeLeaves_____minecraft:leaves_____any"=true
    B:"treeSapling_____minecraft:sapling_____any"=true
}


